

.window{
    background-color: white;
    width: 45vw !important;
    height: 60vh !important;
    margin: auto;
    text-align: center;
    margin-top: 15vh;
    padding: 10px;
}   

.marg{
    margin-top: 05vh !important;
}
span{
    font-size: 32px;
    font-weight: bold;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(99, 99, 99);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
 
  .active {
    background-color: #4CAF50;
  }
  #myPic{
    width :150px;
  }
  @media (max-width: 600px){
      .window{
          width: 80vw !important;
      }
  }